.create-section{
    text-align: center;
    margin-top:30px;
    width: 100%;
}

.create-form{
    margin-top:50px;
}
.form-group{
    margin-top:20px;
    margin-left: 20%;
    margin-right: 20%;
}
.form-group input{
    margin-top:20px;
    text-align: center;
}
.rupiah{
    margin-top: 20px;
    font-size: 30px;
}